.pokedex {
  text-align: center;
}

.pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokedex-winner {
  color: #4caf51;
}

.pokedex-loser {
  color: #e91e61;
}
